<div class="row">
  <div class="col-6 offset-3">
    <form action="/posts" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">
          タイトル<span class="badge badge-danger">必須</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="title"
          aria-describedby="emailHelp"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="content">
          内容<span class="badge badge-danger">必須</span>
        </label>
        <textarea
          class="form-control"
          id="content"
          rows="3"
          name="content"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="image">画像</label>
        <input type="file" name="img" class="form-control-file" id="image" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">投稿</button>
      </div>
    </form>
  </div>
</div>
